# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Compiled files
gimp-dbus

# Temporaries
*.swp

# Installation logs
*.local
*.install

# Repo-specific Plugins
ggimp-irgb-components
ggimp-irgb-new
ggimp-rgb-list
ggimp-rgb-parse
gimp-ts.c
test-bytes-get
test-bytes-put

